// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
primary-color = #fff
font-color = #000
link-color = primary-color
link-hover-color = #ffa500

// Z-index
below-content = 1
content = 2
above-content = 3

// Typography
font-family-opensans = OpenSans, sans-serif

font-size-base = 16px
font-size-medium = 18px
font-size-h1 = 36px

line-height-base = 1.2

font-weigh-700 = 700

phone = '(max-width 450px)'
tablet = '(max-width 900px)'