phone = '(max-width 767px)'


 @font-face
  font-family OpenSans
  src url(../font/open-sans/OpenSans-Regular.ttf)

 @font-face
  font-family OpenSansSemibold
  src url(../font/open-sans/OpenSans-Semibold.ttf)

 @font-face
  font-family OpenSansSemibold
  src url(../font/open-sans/OpenSans-Semibold.ttf)

body
	font-size font-size-base
	font-family font-family-opensans
	color font-color
	background-color font-color

/* Basic styles for links */
a
	color link-color
	text-decoration: none
	&:hover
		color link-hover-color

/* Make images responsive */
img
	max-width 100%

.wrap
	max-width 1366px
	margin: 0 auto

/* Clear inner floats */
.clearfix::after
	clear: both
	content: ''
	display: table

h1
	font-size: font-size-h1
	font-weight: font-weigh-700
	line-height line-height-base
	color: primary-color
	text-transform: uppercase
	margin 0 auto
