mixin b-slider(items, classesSlider)
	+b.div(class=classesSlider)#sliderBlock
		div(class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": true, "pageDots": false, "autoPlay": true }')
			div.carousel-cell#slide1
			div.carousel-cell#slide2
			div.carousel-cell#slide3
			div.carousel-cell#slide4