.slider
  padding 0

.sliderH2
  position absolute
  left 20%
  height 100px
  width 400px
  z-index 100
  top 20%
  color #fff
  font-size 50px


.main-carousel, .flickity-slider
  height 100%

#slide1, #slide2, #slide3
  background url("../img/slider/slide-1.jpg") no-repeat 50% 50%
  background-size 100%
  min-height 485px
  min-width 910px

.flickity-prev-next-button.previous
  left 50px

.flickity-prev-next-button.next
  right 50px

.flickity-prev-next-button .arrow
  fill #fff

.flickity-prev-next-button
  position absolute
  top 50%
  width 84px
  height 84px
  background white
  background hsla(0, 0%, 100%, 0.45)

.flickity-prev-next-button:hover
  background hsla(0, 0%, 100%, 0.75)