.header
	position relative
	height 710px
	background #3c3c3c url('../img/bg-header.png') center center no-repeat
	background-size cover
	overflow hidden
	max-width 1366px
	margin 0 auto
	padding 40px 50px 70px
	box-sizing border-box

.logo
	float left

.primary-nav
	float left

.secondary-nav
	float right

.intro
	position absolute
	bottom 78px

	h1
		margin-bottom 38px

	button('', primary-color)