.header
	position relative
	height 710px
	background #3c3c3c url('../img/bg-header.png') center center no-repeat
	background-size cover
	overflow hidden

.wrap
	width 90%
	padding-top 44px
	overflow hidden

.logo
	float left

.primary-nav
	float left

.secondary-nav
	float right

.intro
	position absolute
	bottom 78px

	h1
		margin-bottom 38px

	button('', primary-color)