// Logo
-textLogo = 'Международный институт <br /> моды и дизайна'
-imgLogo = '../img/ic-logo.svg'
-linkLogo = 'index.html'
-classesLogo = "_header"

// Nav first
-itemsNavFirst = [{'name':'Об институте','link':'#0'}, {'name':'Абитуриентам','link':'#0'}, {'name':'Студентам','link':'#0'}, {'name':'Специальности','link':' #0'}]
-classesNavFirst = '_first'

// Nav second
-itemsNavSecond = [{'name':'Новости','link':'#0'}, {'name':'Вакансии','link':'#0'}, {'name':'Контакты','link':'#0'}]
-classesNavSecond = '_second'

// Btn
-textBtnHeader = 'Online регистрация'

mixin b-header
	+b.header
		+b-logo(textLogo, imgLogo, linkLogo, classesLogo)
		+b-search
		+b-nav(itemsNavFirst, classesNavFirst)
		+b-nav(itemsNavSecond, classesNavSecond)
		+b.H1 Откройте для себя <br> Институт моды и дизайна
		+b-button(textBtnHeader)