.header
	position relative
	height 710px
	background #3c3c3c url('../img/bg-header.png') center center no-repeat
	background-size cover
	overflow hidden
	max-width 1366px
	margin 0 auto
	padding 45px 50px 75px
	box-sizing border-box
	display flex
	flex-wrap wrap
	button('', #fff)
	
	.row_1, .row_2
		width 100%
	.row_1
		.row__item_2
			margin-top 40px
		.row__item_1,
		.row__item_2
			display flex
			flex-wrap wrap
			justify-content space-between
 	.row_2
			display table-cell
			vertical-align bottom
			align-self flex-end
	.header__title
		font-size 36px
		font-weight 700
		line-height 1.2
		color #fff
		text-transform uppercase
		margin-bottom 40px
		font-family MyriadProRegular