-textLogo = 'Международный институт <br /> моды и дизайна'
-imgLogo = '../img/ic-logo.svg'
-linkLogo = 'index.html'




mixin b-header
	+b.header
		+b-logo(textLogo, imgLogo, linkLogo)
		+b-search
		+b.primary-nav
			+b-navigation([
				{'title':'Об институте','link':'#0'},
				{'title':'Абитуриентам','link':'#0'},
				{'title':'Студентам','link':'#0'},
				{'title':'Специальности','link':'#0'}
			])
		+b.secondary-nav
			+b-navigation([
				{'title':'Новости','link':'#0'},
				{'title':'Вакансии','link':'#0'},
				{'title':'Контакты','link':'#0'}
			])
		+b.H1 Откройте для себя <br> Институт моды и дизайна
		+b-button('Online регистрация')