.button
	border 2px solid black
	border-radius 30px
	display table
	cursor pointer
	&__text
		font-size 14px
		padding 12px 24px
		display table-cell
	&__icon
		display table-cell
		vertical-align middle