mixin b-advantages(textName, textDescription, textBtn, classesBlock, classesBtn)
	+b.advantages(class=classesBlock)
		+e.icon
			.my-icon
		if textName
			+e.text_name!= textName
		+e.text_description!= textDescription
		if textBtn
			+b-button(textBtn, classesBtn)