.advantages
	display inline-block
	box-sizing border-box
	height 490px
	padding 35px 50px
	background-size cover

	&_col-1
		width 33.333%

	&_col-1
		width 66.666%

	&__text_name
		font-size 12pt
		color #6a6b6f
		margin-bottom 20px

	&__text_description
		font-size 21pt

	&_1
		background url(../img/advantages_1.png) 100% 100% no-repeat

	&_2
		background #fff

	&_3
		color #fff
		background #fd4600

	&_4
		color #fff
		background #fff

	&_5
		color #fff
		background url(../img/advantages_5.png) 100% 100% no-repeat

	&_6
		background #fff

	&_7
		color #fff
		background url(../img/advantages_7.png) 100% 100% no-repeat

	&_8
		background url(../img/advantages_8.png) 100% 100% no-repeat

	&_9
		color #fff
		background url(../img/advantages_9.png) 100% 100% no-repeat

	&_10
		color #fff
		background url(../img/advantages_10.png) 100% 100% no-repeat