-contactsPhone = '057 716 49 60'
-contactsAddress = 'Украина</br>г. Харьков, ул. Революции, 7'
-contactsEmails = 'office@kharkivdesign.com <br>education@kharkivdesign.com'
-socialsText = 'Следите за нами'
-socialsCopyright = '© 1998–2016  Все права защищены.'
-classesBlock = ''
mixin b-footer(contactsAddress, contactsPhone, contactsEmails, socialsText, socialsCopyright, classesBlock)
  +b.footerColl
    +b-logo
    +e.phone!=contactsPhone
    +e.address!=contactsAddress
    +e.email!=contactsEmails
  +b.footerColl
    +e.socialsText!=socialsText
    +e.socialsIcons
      img(src="img/social-icons/003-facebook-logo.svg" alt="socialsIcons")
      img(src="img/social-icons/001-twitter-social-logotype.svg" alt="socialsIcons")
      img(src="img/social-icons/004-instagram-social-network-logo-of-photo-camera.svg" alt="socialsIcons")
      img(src="img/social-icons/005-youtube-symbol.svg" alt="socialsIcons")
      img(src="img/social-icons/002-behance-logo.svg" alt="socialsIcons")
    +e.socialsCopyright!=socialsCopyright