-contactsAddress = 'Украина</br>г. Харьков, ул. Революции, 7'
-contactsPhone = '057 716 49 60'
-contactsEmail1 = 'office@kharkivdesign.com'
-contactsEmail2 = 'education@kharkivdesign.com'
-socialsText = 'Следите за нами'
-socialsCopyright = '© 1998–2016  Все права защищены.'
-classesBlock = ''
mixin b-footer(contactsAddress, contactsPhone, contactsEmail1, contactsEmail2, socialsText, socialsCopyright, classesBlock)
  +b.footerColl
    +e.address!=contactsAddress
    +e.phone!=contactsPhone
    +e.email!=contactsEmail1
    +e.email!=contactsEmail2
  +b.footerColl
    +e.socialsText!=socialsText
    +e.socialsIcons
      img(src="img/socialsIcons.png" alt="socialsIcons")
    +e.socialsCopyright!=socialsCopyright