@require 'header/header.styl'
@require 'footer/footer.styl'
@require 'advantages/advantages.styl'
@require 'button/button.styl'
@require 'logo/logo.styl'
@require 'search/search.styl'
@require 'nav/nav.styl'
@require 'slider/slider.styl'