extends layouts/root

block main
	.page.page_advantages

		+b-advantages(adv[0].textName, adv[0].textDescription, adv[0].textBtn, adv[0].classesBlock, adv[0].classesBtn)
		
		+b-advantages(adv[1].textName, adv[1].textDescription, adv[1].textBtn, adv[1].classesBlock, adv[1].classesBtn, adv[1].classesBtnIcon)

		+b-advantages(adv[2].textName, adv[2].textDescription, adv[2].textBtn, adv[2].classesBlock, adv[2].classesBtn, adv[2].classesBtnIcon)

		+b-slider(adv[3].items, adv[3].classesSlider)

		+b-advantages(adv[4].textName, adv[4].textDescription, adv[4].textBtn, adv[4].classesBlock, adv[4].classesBtn, adv[4].classesBtnIcon)

		+b-advantages(adv[5].textName, adv[5].textDescription, adv[5].textBtn, adv[5].classesBlock, adv[5].classesBtn, adv[5].classesBtnIcon)

		+b-advantages(adv[6].textName, adv[6].textDescription, adv[6].textBtn, adv[6].classesBlock, adv[6].classesBtn, adv[6].classesBtnIcon)

		+b-advantages(adv[7].textName, adv[7].textDescription, adv[7].textBtn, adv[7].classesBlock, adv[7].classesBtn, adv[7].classesBtnIcon)

		+b-advantages(adv[8].textName, adv[8].textDescription, adv[8].textBtn, adv[8].classesBlock, adv[8].classesBtn, adv[8].classesBtnIcon)

		+b-advantages(adv[9].textName, adv[9].textDescription, adv[9].textBtn, adv[9].classesBlock, adv[9].classesBtn, adv[9].classesBtnIcon)
