include  ../block/advantages/advantages
include  ../block/button/button
include ../../node_modules/bemto.pug/bemto

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title ИНСТИТУТ МОДЫ И ДИЗАЙНА
		link(rel="stylesheet" href="/vendor/reset.css")
		link(rel="stylesheet" href="/css/styles.css")
		block style
	body
		+b-header
		.wrap
			main.main
				block main
			+b-footer
			script(type="text/javascript" src="/vendor/jquery.min.js")
