include  ../block/index
include ../../node_modules/bemto.pug/bemto

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title Международный институт моды и дизайна
		style
			:stylus
				.header
					height 710px
					max-width 1366px
					margin 0 auto
					padding 45px 50px 75px
					.logo__text
						color #fff
						text-decoration none
					h1
						font-size 36px
						font-weight 700
						text-transform uppercase
	body
		+b-header
		.wrap
			main.main
				block main
			footer.footer
				+b-footer(contactsAddress, contactsPhone, contactsEmails, socialsText, socialsCopyright, classesBlock)
			link(rel="stylesheet" href="/css/flickity.css")
			link(rel="stylesheet" href="/vendor/icomoon/style.css")
			link(rel="stylesheet" href="/css/kharkivdesign.css")
			script(type="text/javascript" src="/vendor/jquery-3.1.1.min.js")
			script(type="text/javascript" src="/vendor/barba.min.js")
			script(type="text/javascript" src="/vendor/flickity.pkgd.min.js")
			script(type="text/javascript" src="/js/index.js")