include  ../block/advantages/advantages
include  ../block/button/button
include ../../node_modules/bemto.pug/bemto

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title ИНСТИТУТ МОДЫ И ДИЗАЙНА
		link(rel="stylesheet" href="/vendor/reset.css")
		link(rel="stylesheet" href="/css/styles.css")
		block style
	body
		.wrap
			header.header
				include header
			main.main
				include main
			footer.footer
				include footer
			script(type="text/javascript" src="/vendor/jquery.min.js")
